html,body { height: 100%; margin: 0px; padding: 0px; }
#map {
    height: 90%;
    width: 100%;
}

.controls {
    margin-top: 10px;
    border: 1px solid transparent;
    border-radius: 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 39px;
    outline: none;
    box-shadow: 0 2px 3px #00000022;
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
}

#search-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 300px;
}